<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscpect</title>
</head>
<body>
    <ul>
        <li>Psychologist First Name: <%= psychologist.firstName %></li>
        <li>Psychologist Last Name: <%= psychologist.lastName %></li>
        <li>Psychologist Email: <%= psychologist.email %></li>
        <li>Psychologist University : <%= psychologist.university %></li>
        <li>Psychologist About: <%= psychologist.about %></li>
        <li>Psychologist Approved Status: <%= psychologist.approved_status %></li>
        <li>Psychologist CV: <iframe src="/../../../<%= psychologist.cv %>" width="100%" height="500px"></iframe></li>
    </ul>
</body>
</html>